

.footer{
  display: flex;
  width: 1200px;
  margin: auto;
  border: 1px solid $color-halloween;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-halloween-white;
  padding: 1.5rem 0;
  height: 7rem;
  background-color: $color-halloween;
  border-top: 1px solid #fff;
  box-shadow: $box-shadow-large;

  @media only screen and (max-width: $bp-largest){
    width: 100vw;
  }

  @media only screen and (max-width: $bp-smallest){
    width: 140vw;
    
  }
 

  &__copyright {
    text-align: center;
    line-height: 1.5;

    p {
    font-size: 1.2rem;
    }
  }

  // @media only screen and (max-width: $bp-small){
  //   position: fixed;
  //   bottom: 0px;
  //   left: 0px;
  //   width: 100%;
  // }
}

#footer a{
  color: $color-halloween-orange;
}
